@import 'variables.scss';
@import 'mixins.scss';

body{
    font-family: $inter;
    background-color:$black-color;
    color: $font-color;
    width: 100vw;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        background-color: $font-color;
        width: 10px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: $main-color;
        border-radius: 5px;
    }
}

html{
    scroll-behavior: smooth;
}

.button-to-top{
    height: 50px;
    width: 50px;
    background-color: $main-color-opacity;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 50px;
    @include flex;
    cursor: pointer;
    font-size: calculadora-rem(23);
    color: $black-color;
    transition-duration: 500ms;

    &:hover{
        background-color: $main-color;
    }
}

.header{
    height: 100px;
    width: 100%;
    @include flex;
    justify-content: flex-end;
    font-size: calculadora-rem(25);
    font-weight: 500;
    position: fixed;
    background-color: $black-color;
    z-index: 2;
    top: 0;
    
    &--menu{
        margin-right: 50px;
        text-decoration: none;
        color: $font-color;
        cursor: pointer;
        transition-duration: 300ms;


        &:hover{
            color: $main-color;
        }
    }

    &--contact{
        background-color: $main-color;
        font-size: calculadora-rem(15);
        height: 40px;
        width: 100px;
        border-radius: 50px;
        @include flex;
        margin-left: 50px;
        transition-duration: 500ms;
        border: 1px solid $main-color;


        &:hover{
            background-color: $black-color;
            color: $main-color;
        }
    }
}

.main-welcome{
    @include flex;
    padding: 50px;
    box-sizing: border-box;
    margin: 200px 0;

    &--container1{
        @include flex;
        width: 100%;
        justify-content: space-between;
        height: 400px;
        margin-top: 80px;

        &--about{
            @include flexColumn(flex-start);
            width: 50%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;

            &--occupation{
                @include flex;
                @include titles;

                &--bars{
                    color: $main-color;
                    font-weight: 500;
                    margin-right: 15px;
                }
            }

            &--title{
                color: $main-color;
                font-size: calculadora-rem(30);
                margin-bottom: 30px;
            }

            &--border-top{
                border-top: 2px solid $main-color;
                border-left: 2px solid $main-color;
                height: 40px;
                width: 100px;
                border-radius: 10px 0;
            }

            &--welcome{
                width: 50%;
                font-size: calculadora-rem(18);
                z-index: 1;
                transform: translateX(15px) translateY(-28px);
                line-height: 20px;
                background-color: $black-color;
            }

            &--border-bottom{
                border-right: 2px solid $main-color;
                border-bottom: 2px solid $main-color;
                height: 40px;
                width: 100px;
                border-radius: 10px 0;
                transform: translateX(360px) translateY(-55px);
            }

            &--github{
                @include flex;
                
                    height: 50px;
                width: 150px;
                background-color: $main-color;
                @include flex;
                text-decoration: none;
                color: $font-color;
                font-weight: 600;
                border-radius: 50px;
                border: 1px solid $main-color;
                transition-duration: 500ms;
                margin: 0 150px 0 0;

                &:hover{
                    color: $main-color;
                    background-color: $black-color;
                }
            }

        }

        &--languages{
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            padding: 20px;
            @include flex;
            flex-wrap: wrap;

            &--wrapper{
                @include flexColumn;
                margin: 0 70px;

                &--language{
                    font-size: calculadora-rem(30);
                    font-weight: 700;
                }
            }
        }
    }
}

.container-projects{
    width: 80%;
    padding: 50px;
    @include flex(center, flex-start);
    flex-wrap: wrap;

    &--title{
        @include titles;
        margin-top: 50px
    }

    &--list{
        @include flex();
        width: 100%;
        flex-wrap: wrap;
        padding: 50px 0 50px 120px;

        &--project{
            width: 400px;
            height: 550px;
            @include flexColumn(center, space-between);
            border: 2px solid $main-color;
            border-radius: 25px 5px 25px 5px;
            margin: 20px 35px;
            padding: 20px;
            box-sizing: border-box;

            &--languages{
                height: 50px;
                width: 90%;
                @include flex(center, flex-start);
                margin-bottom: 20px;

                &--html{
                    @include languagesProjects;
                    background-color: $html-color;
                }

                &--css{
                    @include languagesProjects;
                    background-color: $css-color;
                }

                &--js{
                    @include languagesProjects;
                    background-color: $js-color;
                }

                &--scss{
                    @include languagesProjects;
                    background-color: $sass-color;
                }

                &--react{
                    @include languagesProjects;
                    background-color: $react-color;
                }
            }

            &--img{
                width: 100%;
                max-height: 185px;
                margin-bottom: 40px;
                border-radius: 15px;
            }

            &--title{
                font-size: calculadora-rem(23);
                margin-bottom: 20px;
            }

            &--description{
                font-size: calculadora-rem(18);
                margin-bottom: 50px;
                width: 90%;
                line-height: 25px;
                text-align: justify;
            }

            &--links{
                height: 50px;
                width: 90%;
                background-color: $gray-color;
                @include flex;
                font-size: calculadora-rem(40);
                border-radius: 5px;
                
                &--all{
                    color: $main-color;
                    text-decoration: none;
                    @include flex;
                    width: 50%; 
                    cursor: auto;
                }
            }
        }
    }
}

.container-aboutme{
    width: 100%;
    height: 100vh;
    @include flexColumn(flex-start, center);
    padding: 0 50px;
    box-sizing: border-box;
    
    &--title{
        color: $font-color;
        font-size: calculadora-rem(30);
        margin-bottom: 100px;
        border-left: 3px solid $main-color;
        padding-left: 15px;
    }

    &--wrapper{
        width: 50%;
        border: 2px solid $main-color-opacity;
        border-bottom: 50px solid $main-color;
        border-radius: 5px 5px 20px 20px;
        @include flexColumn(flex-start, center);
        flex-wrap: wrap;
        padding: 30px 100px 30px 30px;
        box-sizing: border-box;
        line-height: 25px;
        margin-left: 450px;

        &--title{
            font-size: calculadora-rem(25);
            color: $main-color;
            margin-bottom: 40px;
        }

        &--text{
            text-indent: 20px;
        }

        &--final{
            margin-bottom: 50px;
        }
    }
    
}

.footer{
    width: 90%;
    @include flex(center, flex-start);
    border-top: 3px solid $main-color;
    padding: 20px 50px;
    margin: 0 50px;
    font-size: calculadora-rem(18);

    &--information{
        width: 40%;

        &--title{
            font-size: calculadora-rem(23);
            margin-bottom: 40px;
            color: $main-color;
        }

        &--wrapper{
            width: 50%;
            @include flex(center, flex-start);
            margin-bottom: 10px;

            &--text{
                margin-left: 20px;
            }
        }

        &--profiles{
            @include flex(center, space-between);
            width: 10%;
            
            &--icons{
                color: $main-color;
                font-size: calculadora-rem(50);
            }
        }
    }
}

.fa-html5{
    color: $html-color;
    font-size: calculadora-rem(100);
    margin-bottom: 15px;
}

.fa-sass{
    color: $sass-color;
    font-size: calculadora-rem(100);
    margin-bottom: 15px;
}

.fa-js{
    color: $js-color;
    font-size: calculadora-rem(100);
    margin-bottom: 15px;
}

.fa-react{
    color: $react-color;
    font-size: calculadora-rem(100);
    margin-bottom: 15px;
}

.fa-css3-alt{
    color: $css-color;
    font-size: calculadora-rem(100);
    margin-bottom: 15px;
}

.fa-github{
    cursor: pointer;
}

.fa-eye{
    cursor: pointer;
}

.fa-whatsapp{
    color: $main-color;
}

.fa-at{
    color: $main-color;
}

.fa-map-marker-alt{
    color: $main-color;
}