@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$inter: 'Inter', sans-serif;

$black-color: #060608;
$main-color: #be2378;
$gray-color: #333333;
$font-color: #e7dde0;
$html-color: #e34f26;
$css-color: #264de4;
$sass-color: #cc6699;
$react-color: #7cc5d9;
$js-color: #f0db4f;
